/*--------------------------------------
*********** START RESET ***********
--------------------------------------*/

@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fa-brands-400.eot');
}

@font-face {
    font-family: Cairo;
    src: url(../fonts/Cairo-Regular.ttf)
}

@font-face {
    font-family: Cairo-Black;
    src: url(../fonts/Cairo-Black.ttf)
}

@font-face {
    font-family: Cairo-Bold;
    src: url(../fonts/Cairo-Bold.ttf)
}

@font-face {
    font-family: Cairo-ExtraLight;
    src: url(../fonts/Cairo-ExtraLight.ttf)
}

@font-face {
    font-family: Cairo-Light;
    src: url(../fonts/Cairo-Light.ttf)
}

@font-face {
    font-family: Cairo-SemiBold;
    src: url(../fonts/Cairo-SemiBold.ttf)
}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body,
html {
    height: 100%;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 6px;
    height: 4px;
    background: #f0ffff;
}

::-webkit-scrollbar-thumb {
    background-color: #0c6967;
    -webkit-border-radius: 0;
}


/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

body {
    color: #333;
    direction: rtl;
    font-family: 'Cairo', sans-serif;
    overflow-x: hidden
}


/*--------------------------------------------------------------
# compponent
--------------------------------------------------------------*/

.float-right {
    float: right
}

.in-line {
    display: inline-block
}

.align-right {
    text-align: right
}

.align-left {
    text-align: left
}

.sec-title {
    text-align: right;
    font-size: 20px;
    font-weight: bold
}

.align-center {
    align-items: center
}

.block {
    display: block
}

.margin0 {
    margin: 0
}

.padding0 {
    padding: 0
}

.relative {
    position: relative
}

.center {
    text-align: center
}

.aligne-left {
    text-align: left
}

.bold {
    font-weight: bold
}

p {
    font-size: 15px;
}

a:hover {
    color: inherit
}

@media only screen and (max-width: 600px) {
    .sec-title {
        font-size: 16px;
    }

    p {
        font-size: 14px;
    }
}

.aligne-left {
    text-align: left;
}


/******************* nav bar all responsiive *********************/

.third-nav {
    background-color: #fff
}

@media screen and (max-device-width:767px) {
    .second-nav {
        display: none
    }

    /*.first-nav {
		display: none !important
	}*/
    nav.first-nav {
        background-color: #fff;
        padding: 6px 7px;
        border-bottom: 1px solid #ddd;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    nav.first-nav .left .in-line {
        display: none
    }
}

@media screen and (min-width:768px) and (max-width: 991px) {
    .SearchBox-input {
        width: 170px;
    }

    .p-nav2 {
        font-size: 12px;
        margin-right: 4px
    }

    .p-nav2 i {
        margin-left: 5px
    }

    .nav2-respo {
        text-align: right
    }
}

@media screen and (min-device-width:992px) and (max-device-width: 1024px) {
    .SearchBox-input {
        width: 240px;
    }

    .p-nav2 {
        font-size: 14px;
    }
}

@media screen and (min-device-width:1025px) and (max-device-width: 1200px) {
    .SearchBox-input {
        width: 240px;
    }

    .p-nav2 {
        font-size: 14px
    }
}

@media screen and (min-width:768px) {
    .third-nav {
        display: none
    }
}


/*************third nav*****************/

.third-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    box-shadow: 1px 1px 10px #222;
    position: relative;
    top: 0;
    z-index: 9999;
    left: 0;
    right: 0;
}

.third-nav-logo {
    display: flex;
    align-items: center;
}

.input-auto {
    width: auto;
    color: #fff
}

@media screen and (min-width:768px) {
    .third-nav {
        display: none
    }
}

span.span-third-nav {
    font-size: 20px;
    margin: 0 10px;
    /*	color: #c28736;*/
}

span.span-third-nav a {
    /*color: #c28736;*/
}

.third-logo {
    width: 150px;
    object-fit: contain
}

.modal {
    z-index: 9999999
}

li.navbar-effect a {
    text-decoration: none;
}

li.navbar-effect {
    position: relative
}

li.navbar-effect a::after {
    position: absolute;
    content: "";
    right: 0;
    width: 0;
    transform: scale(0);
    height: 2px;
    background-image: linear-gradient(55deg, #0f6c68, #ffe9a0);
    bottom: 10px;
    transition: all .4s ease-in-out
}

li.navbar-effect a:hover::after {
    position: absolute;
    content: "";
    transform: scale(1);
    width: 100%;
    height: 2px;
}

a.nav-link.active {
    background-color: transparent !important;
    color: #0c6967 !important
}

a.nav-link.active::after {
    position: absolute;
    content: "";
    transform: scale(1);
    width: 100%;
    height: 2px;
}

@media (max-width: 767px) {
    a.nav-link.active::after {
        transform: scale(.5);
    }
}

li.navbar-effect:hover::after {
    position: absolute;
    content: "";
    transform: scale(1);
    width: 100%;
    height: 2px;
}

.navbar .row {
    width: 100%;
    height: 100%;
    margin: 0
}

.my-nav {
    width: 100%;
    height: 100%
}

li.all-cats-wrapper.megamenu.navbar-effect:hover::after {
    width: 0;
    transform: scale(0);
}

.third-nav-logo {
    display: none
}

.modal-first-nav {
    display: none
}

@media only screen and (max-width: 767px) {
    .third-nav-logo {
        display: inline;
        width: 105px;
    }

    .modal-first-nav {
        display: inline
    }
}


/*****************navbar************************/

.body-overlay {
    background-color: rgba(52, 49, 75, .5);
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    position: fixed;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    top: 0;
    z-index: 999;
}


/****** Start Navbar ********/


/* Nav Icon */

#nav-icon1 {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    position: relative;
    /*top: calc(50% - 15px) !important;*/
    width: 30px;
    height: 40px;
    margin: 0 20px 0 0;
    z-index: 9999;
    left: 0;
    right: 0;
    display: none;
}

#nav-icon1 span {
    display: block;
    position: absolute;
    height: 2px;
    width: 27px;
    background: #0c6967;
    opacity: 1;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

div#nav-icon1.open span {
    background: #0c6967
}

#nav-icon1:hover span,
#nav-icon1:focus span,
#nav-icon1.open span {
    /*background: #c4955d;*/
}

#nav-icon1 span:nth-child(1) {
    top: 11px;
}

#nav-icon1 span:nth-child(2) {
    top: 17px;
}

#nav-icon1.open span:nth-child(2) {
    top: 22px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

#nav-icon1 span:nth-child(3) {
    top: 23px;
}

#nav-icon1.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
}

#nav-icon1.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 22px;
}

#nav-icon1.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#nav-icon1.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}


/*/////////////////*/

.navbar {
    margin: 0;
    width: auto;
    border-radius: 0;
    border: 0;
    /* height: 90px;*/
    line-height: 68px;
    background-color: #fff;
    padding: 0;
    position: absolute;
    left: 0px;
    right: 0px;
    z-index: 999;
    top: 0px;
    margin: auto;
      box-shadow: 0px 0px 10px #000;

}

.fixd-navbar {
    top: 0;
    position: fixed;
    z-index: 9999;
    line-height: 70px;
    box-shadow: 1px 1px 10px rgb(25, 25, 25);
    -webkit-box-shadow: 1px 1px 10px rgb(25, 25, 25);
}


/* Nav Right */

.logo {
    width: 120px;
    height: 70px;
    line-height: 70px;
    vertical-align: middle;
}

.logo a {
    display: block;
    width: 100%;
    height: 100%;
}

.navbar img {
    width: 120px;
    height: 80px;
    object-fit: contain;
    padding: 10px
}

.fixd-navbar #nav-icon1 {
    margin: -4px auto 0 !important;
}


/* nav ul */

.my-nav {
    text-align: center;
}

.my-nav ul.nav > li {
    position: relative;
    display: inline-block;
    position: relative;
    color: #8e8d8c;
}

.my-nav ul.nav > li > a {
    font-size: 17px;
    color: #0f6c68;
    padding: 0 8px;
    font-weight: bold;
}

.my-nav ul.nav > li > a:hover,
.my-nav ul.nav > li > a:focus,
.my-nav ul.nav > li > a:active,
.my-nav .nav.cf li.active a {
    background-color: transparent !important;
    color: #0c6967;
}

ul#ul1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
}


/**************** End Header *************/

.product-section .nav-pills {
    margin: 30px 0;
}

.nav-pills li {
    float: none;
    width: 25%;
    padding: 20px 0;
    border-top: 2px solid #881573
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover,
.nav-pills > li > a:focus,
.nav-pills > li > a:hover {
    color: #c09e1d;
    font-weight: bold;
    background-color: transparent;
}

@media (min-width: 320px) and (max-width: 991px) {

    /* Navbar */
    .navbar {
        /*padding: 0 50px;
		height: auto;*/
    }

    .my-nav ul.nav > li > a {
        font-size: 12px;
        padding: 0 1px;
    }

    .tools {
        width: 100%;
    }

    /*** Header ****/
    .carousel-caption {
        top: 5%;
    }

    .tabuu2,
    .tabuu {
        padding: 0 0 0 0;
    }

    /***** Sections .HTML ********/
    .da-thumbs li .last-txt {
        line-height: 3;
        padding: 20px 0;
    }

    .da-thumbs li .square-an {
        width: 90%;
    }
}

@media (max-width: 767px) {

    /*** Top Nav **/
    .topNav-right p {
        display: none;
    }

    .topNav-left {
        padding: 0;
        margin: -2px 0 0 0;
    }

    .topNav-left .bootstrap-select button,
    .bootstrap-select .dropdown-toggle:focus,
    .topNav-left .btn-group.open .dropdown-toggle {
        margin: 0 2px 0 0;
        padding: 0 2px 0 0 !important;
    }

    .topNav-left .bootstrap-select .filter-option,
    .top-nav a {
        font-size: 10px !important;
    }

    .topNav-right {
        margin: 0;
    }

    .notifi ul {
        right: -102px;
    }

    ul.topNav-left {
        width: 100%;
        text-align: center;
        margin: 10px 0;
    }

    .navbar .logo {
        width: 100px;
    }

    .fixd-navbar .logo {
        height: 50px;
        line-height: 50px;
    }

    .topNav-left .bootstrap-select {
        width: 62px !important;
    }

    .topNav-left .bootstrap-select .caret {
        left: 3px !important;
    }

    .top-nav {
        padding: 10px 30px;
    }

    .navbar {
        padding: 0 20px;
    }

    /*.fixd-navbar {
		line-height: 50px !important;
		height: 50px;
	}*/
    .fixd-navbar #nav-icon1 {
        margin: -4px auto 0 !important;
    }

    .tools {
        margin: 5px auto 0 auto;
        width: 100%;
        display: block
    }

    .tools > li {
        width: 25px;
        height: 25px;
        margin: 0 1px;
    }

    .tools li .badge {
        right: 0;
        top: -18px;
        width: 23px;
        height: 23px;
        line-height: 23px;
    }

    .logo-j {
        text-align: center;
    }

    #nav-icon1 {
        display: block;
        margin: auto;
    }

    .my-nav {
        /* height: 100%;
        margin: 0;
        transition: all 0.5s ease-in-out;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        opacity: 1;
        right: 0;
        position: fixed;
        bottom: 0;
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
        transform-origin: 50% 50%;
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
        width: 56%;
        z-index: 999;
        background-color: #326aa7;
        background-image: radial-gradient(#4c2b53, #000000);*/
        -webkit-transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
        -o-transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
        transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
        -webkit-transform-origin: bottom left;
        -ms-transform-origin: bottom left;
        transform-origin: bottom left;
        position: fixed;
        bottom: 0px;
        right: 0;
        background-image: radial-gradient(#195666, #000000);
        height: 100%;
        width: 260px;
        margin: 0;
        z-index: 999;
        text-align: center;
        opacity: 1;
        margin-right: -250px;
        -webkit-transform: rotateY(90deg);
        transform: rotateY(90deg);
    }

    .navbar .back {
        margin-right: 0 !important;
        -webkit-transform: none !important;
        -ms-transform: none !important;
        transform: none !important;
    }

    #nav-icon1.open {}

    .navbar ul.nav {
        position: absolute;
        left: 50%;
        top: 55%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        opacity: 1;
        min-width: 200px;
    }

    .navbar ul.nav li {
        display: block;
        margin: 0;
        line-height: 4;
        text-align: center;
        color: #fff
    }

    .navbar ul.nav > li > a:after {
        bottom: 0 !important;
    }

    .navbar ul.nav > li > a {
        color: #fff;
    }
}

@media (max-width: 500px) {
    .top-nav {
        padding: 3px 30px;
    }

    .top-nav .col-xs-6 {
        width: 100%;
        text-align: center;
    }

    .topNav-left {
        margin: 4px 0 0 0;
        text-align: center;
    }

    .progress .circle .title {
        width: auto;
        font-size: 7px !important;
        line-height: initial;
    }
}


/********************************************************/


/*navbar mega-menu*/


/*******************************************************/

.navigation {
    position: relative;
    text-align: left;
    line-height: 0;
}

.navigation .nav.sf-menu {
    line-height: 1.72;
    text-align: left;
    display: inline-block;
    margin: 0 auto !important;
}

.navigation ul {
    list-style: none;
}


/* SUPERFISH ESSENTIAL STYLES */

.sf-menu {
    margin: 0;
    padding: 0;
}

.sf-menu li {
    position: relative;
}

.sf-menu ul {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    z-index: 99;
}

.sf-menu > li {
    float: left;
}

.sf-menu li:hover > ul,
.sf-menu li.sfHover > ul {
    display: block;
}

.sf-menu a {
    display: block;
    position: relative;
}

.sf-menu ul ul {
    top: 0;
    left: 100%;
}

.sf-menu ul {
    min-width: 12em;
}


/* SUPERFISH THEME SKIN */

.sf-menu {
    font-size: 14px;
    font-weight: 600;
}

.sf-menu.nav > li > a:hover,
.sf-menu.nav > li > a:focus {
    background-color: transparent;
}

.sf-menu.nav > li > a,
.sf-menu ul li > a {
    padding: 16px 15px 16px 15px;
}

.sf-menu ul li > a {
    padding: 8px 15px 8px 15px;
}

.is-sticky .sf-menu.nav > li > a,
.is-sticky .sf-menu ul li > a {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
}

.sf-menu .megamenu ul li > a {
    padding: 3px 15px 3px 15px;
}

.sf-menu a {
    color: #232323;
}

.sf-menu a:hover {
    color: #ffffff;
}

.sf-menu li.active > a {
    color: #ffffff;
}

.sf-menu ul {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
}

.sf-menu ul {
    margin-left: 0;
    padding-left: 0;
}

.sf-menu ul ul {
    margin-left: 0;
}

.sf-menu ul li {
    background: #ffffff;
}

.sf-menu ul a {
    text-transform: none;
    font-weight: 400;
    text-decoration: none;
    color: #232323;
}

.sf-menu ul a:hover {
    color: #232323;
    background-color: #e9e9e9;
}


/* ARROW DOWN */

.sf-menu.nav > li > a.sf-with-ul,
.sf-arrows .sf-with-ul {
    padding-right: 1.8em;
}

.sf-arrows .sf-with-ul:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 1em;
    margin-top: -1px;
    height: 0;
    width: 0;
    border: 3px solid transparent;
    border-top-color: #a5abb7;
}

.sf-arrows > li > .sf-with-ul:focus:after,
.sf-arrows > li:hover > .sf-with-ul:after,
.sf-arrows > .sfHover > .sf-with-ul:after {
    border-top-color: #0091DC;
}


/* ARROW RIGHT */

.sf-arrows ul .sf-with-ul:after {
    margin-top: -5px;
    margin-right: -3px;
    border-color: transparent;
    border-right-color: #a5abb7;
}

.sf-arrows ul li > .sf-with-ul:focus:after,
.sf-arrows ul li:hover > .sf-with-ul:after,
.sf-arrows ul .sfHover > .sf-with-ul:after {
    border-right-color: #0091DC;
}

.sf-menu li li:hover,
.sf-menu li li.sfHover,
.sf-menu li li.sfHover > a,
.sf-menu li li.active {
    background-color: #ffffff;
}

.sf-menu li ul ul {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.sf-menu li.sale a {
    background-color: #0091DC;
    color: #ffffff;
}

.menu-toggle {
    display: none;
    height: 40px;
}

@media (max-width: 991px) {
    .menu-toggle {
        display: inline-block;
    }
}

.menu-toggle-close {
    display: none;
}

@media (max-width: 991px) {
    .menu-toggle-close {
        display: block;
        width: 100%;
        text-align: right;
    }

    .menu-toggle-close .fa {
        display: inline-block;
        text-align: center;
        width: 30px;
        height: 30px;
        font-size: 15px;
        line-height: 28px;
        color: #ffffff !important;
        background-color: #232323;
        border: solid 1px #ffffff;
        border-radius: 15px;
    }
}

@media (max-width: 767px) {
    .navigation {
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        width: 250px;
        z-index: 11000;
        border-left: solid 1px #232323;
        background-color: #232323;
    }

    .navigation.closed {
        right: -250px;
    }

    .navigation.opened {
        right: 0;
        overflow-y: scroll;
    }

    .sf-menu {
        margin-right: 0;
    }

    .sf-menu a {
        color: #ffffff;
    }

    .sf-menu a:hover {
        color: #000000;
    }

    .sf-menu > li {
        float: none;
    }

    .sf-menu > li > a {
        padding-top: 10px !important;
        padding-bottom: 10px !important;
    }

    .sf-menu > li > a:hover {
        color: #0091DC;
    }

    .sf-menu ul {
        opacity: 1 !important;
        position: relative;
    }

    .sf-menu ul a {
        color: #ffffff;
    }

    .sf-menu ul li {
        background-color: transparent;
    }

    .sf-menu li {
        float: none !important;
        display: block !important;
        width: 100% !important;
    }

    .sf-menu li a {
        float: none !important;
    }

    .sf-menu ul {
        position: static !important;
        margin-left: 0 !important;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .sf-arrows .sf-with-ul:after {
        border-color: #ffffff transparent transparent !important;
    }

    .sf-menu li li:hover,
    .sf-menu li li.sfHover,
    .sf-menu li li.sfHover > a,
    .sf-menu li li.active {
        background-color: transparent !important;
    }

    .product-list .media-link {
        text-align: left !important;
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 767px) {
    .image-large {
        display: none
    }
}


/*********************************************/


/*********************************************************/


/*component*/

.sec {
    padding: 40px 20px
}

a:hover {
    text-decoration: none
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center
}

.flex-colum {
    flex-direction: column
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
    text-align: right
}

.aligne-left {
    text-align: left;
}

.aligne-right {
    text-align: right !important
}

@media (max-width: 600px) {
    .fixd-navbar {
        position: relative
    }
}


/* =========================================== */


/* ========sec1========== */


/* =========================================== */

.img-fluid1 {
    width: 80%;
    animation: main 3s;
    transform-origin: 100% 50%;
    animation-delay: 1s;
}

section#sec1 {
    padding-top: 110px;
    text-align: right
}


.discount {
    width: 100%;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    animation-name: infiUpDown;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
}

@-webkit-keyframes infiUpDown {
    0% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }

    50% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }

    100% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
}

p.title_top {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}


.moving-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 500em;
    height: 100%;
    opacity: 1;
    visibility: inherit;
    background: transparent url("../img/cloudwash.png") repeat-x scroll 0 100%;
    -webkit-animation: cloudwash 60s linear infinite;
    -moz-animation: cloudwash 60s linear infinite;
    animation: cloudwash 60s linear infinite;
}

@-webkit-keyframes cloudwash {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    100% {
        -webkit-transform: translate3d(-50%, 0, 0);
        transform: translate3d(-50%, 0, 0);
    }
}

@keyframes cloudwash {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    100% {
        -webkit-transform: translate3d(-50%, 0, 0);
        transform: translate3d(-50%, 0, 0);
    }
}
@keyframes main {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}
@media (min-width: 992px) {
    .extended {
        padding: 50px 30px;
    }

    .testimonial {
        background-size: cover !important
    }

    .extended.v2:before {
        background: linear-gradient(45deg, #8089ff 0%, #54ceff 100%);
        border-radius: 15px;
    }

    .welcome-meter img {
        max-width: 124%;
        position: relative;
        left: -9%;
    }

    .extended:before {
        content: '';
        position: absolute;
        width: 900px;
        height: 100%;
        left: 0;
        top: 0;
        z-index: -1;
        background: aliceblue;
    }
    .img-fluid1 {
    width: 70%
}

}

.text-bg,
.text-bg-gray {
    font-size: 13em;
    color: #fff;
    opacity: .05;
    position: absolute;
    width: 2000px;
    line-height: 1;
    text-align: center;
    user-select: none
}

.special-download {
    position: relative;
}

.special-download img {
    position: relative;
    width: 120%;
    top: -20%
}

.text-bg-gray {
    color: #333
}

.heading-bg-text {
    font-size: 2.5em;
    color: #333;
    opacity: .03;
    position: absolute;
    top: -20px;
    left: 0;
    text-align: inherit;
    user-select: none;
    z-index: -1
}

.header-1 {
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.header-1 .header-1-content {
    display: flex;
    justify-content: center;
    align-items: center;
    /*height: 100vh;*/
}

.header-1 .has-line:after {
    background: #fff !important
}

.demo-1:after {
    content: "";
    width: 100%;
    height: 170px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: url(../img/demo-1.png) no-repeat;
    background-size: cover;
}

.hero-animation-img {
    position: relative;
    z-index: 9
}

@media only screen and (max-width: 600px) {
    p.lead {
        font-size: 14px;
    }

    img.center-block {
        width: 171px;
    }

    .col-md-6.hidden-sm.hidden-xs.aligne-left {
        text-align: center;
    }
}

@media (max-width: 767px) {
    .demo-1:after {
        height: 130px;
    }
}

@media (min-width: 1100px) {
    .flex-head {
        margin-top: -100px
    }
}

@media (min-height: 1366px),
(min-width: 1024px) {
    .header-1 {
        height: auto;
        position: relative;
        overflow: hidden;
    }
}

img.center-block {
    width: 307px;
}

@media (min-width:768) {
    .img-fluid1 {
        width: 70%;
    }
}


/****************sec1************/

.bottom-img img,
.bottom-img-absolute img {
    width: 100%;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.bottom-img-absolute {
    bottom: -40px;
    width: 100%;
    position: absolute;
}

.background-img:before {
    position: absolute;
    content: '';
    background-image: linear-gradient(to right, rgb(69, 115, 114), rgb(36, 193, 190));
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.background-img {
    position: relative;
    width: 100%;
    display: block;
}

.pt-100 {
    padding-top: 68px;
}

.background-img {
    position: relative;
    width: 100%;
    display: block;
}

section.hero-section.pt-100.background-img {
    direction: ltr
}

.video-promo-content {
    transition: all 800ms ease-in-out;
}

.video-promo-content a img {
    transition: all 800ms ease-in-out;
}

.video-promo-content a img:hover {
    -ms-transform: rotate(45deg);
    /* IE 9 */
    -webkit-transform: rotate(45deg);
    /* Chrome, Safari, Opera */
    transform: rotate(45deg);
}

.video-promo-content h5 {
    color: #ffffff;
}

.video-play-icon {
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    position: relative;
    z-index: 4;
    display: inline-block;
    border: 2px solid #ffffff;
    cursor: pointer;
    background: #ffffff;
}

.video-play-icon span {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 25%;
    font-size: 23px;
    left: 2px;
}

.video-promo-content a.video-play-icon-without-bip:hover span {
    color: #ffffff;
}

.video-promo-content a.video-play-icon {
    border-radius: 50%;
    display: block;
    -webkit-animation: ripple-white 1s linear infinite;
    animation: ripple-white 1s linear infinite;
    -webkit-transition: .5s
}

.video-promo-content a.video-play-icon-without-bip {
    animation: none;
}

.video-promo-content a.video-play-icon-without-bip:hover {
    -webkit-animation: ripple-white 1s linear infinite;
    animation: ripple-white 1s linear infinite;
    -webkit-transition: .5s;
    background-color: #9629e6;
}

.pt-100 {
    padding-top: 68px;
}
.text-white{
    font-size: 22px;
    font-weight: bold
}
@media (max-width: 767px) {
   .col-md-5.col-lg-5.resp-center {
    text-align: center;
}
    .text-white {
    margin-top: 13px;
}

}

/* =========================================== */


/* ========sec2= swiper========= */


/* =========================================== */

.sec3 {
    text-align: center;
    color: #968d93;
    padding: 40px 20px;
    background-image: url(img/bacground%20slider.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.sec3 h2 {
    margin-bottom: 30px;
    color: #d961ac;
    margin-top: 71px;
}

.swiper-slide {
    float: right !important;
}


.swiper-container-horizontal > .swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    display: none
}

.swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 300px;
    height: 300px;
}
 p.heade-p1 {
     color: #000;
}

@media (max-width: 767px) {
   
.swiper-container {
    width: 100%;
    padding-top: 20px; 
    }
    p.heade-p1 {
    color: #000;
    margin-bottom: 5px;
}
}
/***************************************************************/


/***************sec3 testemonials*******************
/*****************************************************************/

section#sec3 {
    padding: 0;
    position: relative
}

.demo {
    background: #cddfd9;
    position: relative;
    padding: 90px 0px
}


/*
.demo:after {
    content: "";
    width: 100%;
    height: 170px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: url(../img/demo-1.png) no-repeat;
    background-size: cover;
   
}*/

.demo.container {
    position: relative;
    z-index: 99
}

.testimonial .pic {
        width: 34%;
    padding: 20px 0;
    margin: 0 6% 0 2%;
    float: left;
    position: relative;
    z-index: 1;
    height: 345px;
    border-radius: 202px 84px 134px 27px;
    padding: 28px;
    background-color: #055251;
}

.testimonial .pic img {
   width: 100%;
    height: 100%;
    border: 3px solid #0c6967;
    border-radius: 184px 57px 136px 30px;
}

.testimonial .testimonial-content {
    width: 70%;
    float: right;
}

.testimonial .title {
    display: block;
    font-size: 18px;
    font-weight: 600;
    color: #000;
    margin: 0;
    text-transform: uppercase;
    padding-top: 65px;
    padding-left: 15px;
}

.testimonial .post {
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 27px;
    color: #000;
    text-transform: capitalize;
    margin-bottom: 25px;
    padding-left: 15px;
}

.testimonial .description {
    font-size: 16px;
    color: 000;
    padding: 0 15px;
    margin: 0;
    position: relative;
}

.testimonial:before,
.testimonial .description:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 17px;
    color: #fff;
    position: relative;
}

.testimonial:before {
        content: "\f10e";
    margin-left: 5px;
    position: absolute;
    top: 7px;
    right: 365px;
    background-color: #055251;
    padding: 20px;
    z-index: 99;
    border-radius: 50%;
    font-size: 29px;
    width: 65px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*.testimonial .description:after {
    content: "\f10d";
    margin-right: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
}*/

.owl-theme .owl-controls {
    width: 70%;
    margin: 0;
    text-align: left;
    position: absolute;
    bottom: -25px;
    right: 0;
    z-index: 99;
}

.owl-theme .owl-controls .owl-buttons div {
    width: 70px;
    height: 90px;
    line-height: 90px;
    background: transparent;
    border-radius: 0;
    opacity: 1;
    position: relative;
}

.owl-prev:before,
.owl-next:before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    content: "\f053";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 25px;
    font-weight: 900;
    color:#055251;
    position: absolute;
    top: 0;
    left: 25%;
}

.owl-next:before {
    content: "\f054";
}

.testimonial .testimonial-content {
    width: 70%;
    float: right;
    background-color: rgba(255, 255, 255, .5);
    color: #000;
    box-shadow: 0px 0px 7px #565656dd;
    position: absolute;
    z-index: 9;
    left: 29%;
    top: 40px;
    text-align: center;
    padding: 20px
}

.shape-1 {
    position: absolute;
    right: 1%;
    bottom: 40%;
    z-index: 9;
    -webkit-animation: upndown 10s linear 2s infinite;
    animation: upndown 10s linear 2s infinite;
}

.shape-2 {
    position: absolute;
    right: 3%;
    z-index: 9;
    bottom: 30%;
    -webkit-animation: upndown 8s linear 2s infinite;
    animation: upndown 8s linear 2s infinite;
    opacity: .5;
}
.shape-2.shapeleft {
    left: 3%;
}
.shape-1.shapeleft {
    left: 1%;
}

@-o-keyframes upndown {
    0% {
        -ms-transform: translateY(0px);
        /* IE 9 */
        -webkit-transform: translateY(0px);
        /* Chrome, Safari, Opera */
        transform: translateY(0px);
    }

    50% {
        -ms-transform: translateY(100px);
        /* IE 9 */
        -webkit-transform: translateY(100px);
        /* Chrome, Safari, Opera */
        transform: translateY(100px);
    }

    100% {
        -ms-transform: translateY(0px);
        /* IE 9 */
        -webkit-transform: translateY(0px);
        /* Chrome, Safari, Opera */
        transform: translateY(0px);
    }
}

@keyframes upndown {
    0% {
        -ms-transform: translateY(0px);
        /* IE 9 */
        -webkit-transform: translateY(0px);
        /* Chrome, Safari, Opera */
        transform: translateY(0px);
    }

    50% {
        -ms-transform: translateY(100px);
        /* IE 9 */
        -webkit-transform: translateY(100px);
        /* Chrome, Safari, Opera */
        transform: translateY(100px);
    }

    100% {
        -ms-transform: translateY(0px);
        /* IE 9 */
        -webkit-transform: translateY(0px);
        /* Chrome, Safari, Opera */
        transform: translateY(0px);
    }
}

@media only screen and (max-width: 990px) {
    .testimonial {
        text-align: center;
    }

    .testimonial .pic {
        width: 100%;
        margin: 0 auto;
        float: none;
    }

    .testimonial .pic:before,
    .testimonial .pic:after {
        width: 80px;
        height: 100px;
    }

    .testimonial .testimonial-content {
        width: 100%;
        float: none;
        position: relative;
        left: 0
    }

    .testimonial .title {
        padding: 15px 0 0 0;
    }

    .testimonial .post {
        padding: 0;
        margin-bottom: 10px;
    }

    .owl-theme .owl-controls {
        width: 100%;
        position: static;
        text-align: center;
    }

    .owl-theme .owl-controls .owl-buttons div {
        height: 50px;
        line-height: 50px;
    }
}

.owl-buttons {
    position: relative;
    z-index: 99;
    bottom: -80px
}

@media only screen and (max-width: 600px) {
    .demo:after {
        content: "";
        width: 100%;
        height: 92px;
    }

    .testimonial .description {
        font-size: 14px;
    }

    p.title_top {
        font-size: 16px;
        font-weight: bold;
        margin-top: 20px;
    }
}

@media only screen and (max-width: 767px) {
    .testimonial:before {
        content: "";
        display: none
    }
    .testimonial .testimonial-content {
    box-shadow: unset
}
    .demo {
    background: #cddfd9;
    position: relative;
    padding: 10px 0;
}
    .owl-buttons {
    position: relative;
    z-index: 99;
    bottom: 0;
}
    div#testimonial-slider {
    margin-top: 27px;
}
}

/*** 

====================================================================
  sec4 services
====================================================================

 ***/

.icon-box {
    background-color: #ffcf33;
}

.what-we-do .outer {
    position: relative;
    padding-top: 20px;
}

.what-we-do .outer .inner-circle {
    position: absolute;
    right: 50%;
    margin-right: -150px;
    top: 50%;
    margin-top: -150px;
    width: 300px;
    height: 300px;
    border: 1px dashed #d0d0d0;
    line-height: 300px;
    text-align: center;
    border-radius: 50%;
    z-index: 2;
}

.what-we-do .outer .phone {
    position: absolute;
    width: 100%;
    right: 50%;
    top: -110px;
    transform: translateX(50.5%);
}

.what-we-do .outer:before {
    content: '';
    position: absolute;
    right: 50%;
    margin-right: -315px;
    top: 50%;
    margin-top: -315px;
    width: 630px;
    height: 630px;
    border: 1px solid #f5f5f5;
    border-radius: 50%;
}

.what-we-do .outer:after {
    content: '';
    position: absolute;
    right: 50%;
    margin-right: -250px;
    top: 50%;
    margin-top: -250px;
    width: 500px;
    height: 500px;
    border: 1px solid #f5f5f5;
    border-radius: 50%;
}

.what-we-do .outer .header-wraperumn {
    float: left;
}

.service-box-three {
    position: relative;
    margin-bottom: 30px;
    z-index: 1;
}

.what-we-do .outer .service-box-three {
    margin-bottom: 130px;
}

.what-we-do .outer .service-box-three:first-child {
    right: 70px;
    top: 10px;
}

.what-we-do .outer .service-box-three:last-child {
    margin-bottom: 0px;
    right: 60px;
    top: 0px;
}

.service-box-three .inner-box {
    position: relative;
    display: block;
    text-align: left;
    padding-left: 110px;
}

.service-box-three .icon-box {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 72px;
    height: 72px;
    text-align: center;
    line-height: 72px;
    color: #fff !important;
    font-size: 30px;
    border-radius: 50%;
    transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
}

.service-box-three h3 {
    position: relative;
    line-height: 1.6em;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 15px;
    color: #2a2a2a;
    font-weight: 700;
}

.service-box-three h3 a {
    position: relative;
    color: #2a2a2a;
}

.service-box-three .text {
    position: relative;
    line-height: 1.8em;
}

.service-box-four {
    position: relative;
    margin-bottom: 30px;
    z-index: 1;
}

.what-we-do .outer .service-box-four {
    margin-bottom: 130px;
}

.what-we-do .outer .service-box-four:first-child {
    left: 70px;
    top: 10px;
}

.what-we-do .outer .service-box-four:last-child {
    margin-bottom: 0px;
    left: 60px;
    top: 0px;
}

.service-box-four .inner-box {
    position: relative;
    display: block;
    text-align: right;
    padding-right: 110px;
}

.service-box-four .icon-box {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 72px;
    height: 72px;
    text-align: center;
    line-height: 72px;
    color: #fff !important;
    font-size: 30px;
    border-radius: 50%;
    transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
}

.service-box-four h3 {
    position: relative;
    line-height: 1.6em;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 15px;
    color: #2a2a2a;
    font-weight: 700;
}

.service-box-four h3 a {
    position: relative;
    color: #2a2a2a;
    transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
}

.service-box-four .text {
    position: relative;
    line-height: 1.8em;
}
.p-services{
    font-size: 22px;
    font-weight: bold
}

@media (min-width: 1200px) {
    .outer .right-column {
        margin-right: 33.3%
    }
}


@media only screen and (max-width: 1200px) {
    .what-we-do .outer .inner-circle {
        display: none;
    }

    .what-we-do .outer .service-box-three:first-child,
    .what-we-do .outer .service-box-three:last-child,
    .what-we-do .outer .service-box-four:first-child,
    .what-we-do .outer .service-box-four:last-child {
        left: 0px;
        top: 0px;
        right: 0px;
        bottom: 0px;
    }
}

@media only screen and (max-width: 767px) {

    .what-we-do .outer:before,
    .what-we-do .outer:after {
        display: none;
    }

    .what-we-do .outer .service-box-three,
    .what-we-do .outer .service-box-four {
        padding: 0 20px
    }

    .what-we-do .outer .service-box-three:last-child,
    .what-we-do .outer .service-box-four:last-child,
    .what-we-do .outer .service-box-three,
    .what-we-do .outer .service-box-four {
        margin-bottom: 50px;
    }

    .service-box-three .inner-box,
    .service-box-four .inner-box {
        padding-left: 0px;
        padding-right: 0px;
        text-align: center;
    }

    .service-box-three .icon-box,
    .service-box-four .icon-box {
        position: relative;
        display: block;
        left: 0px;
        top: 0px;
        right: 0px;
        bottom: 0px;
        margin: 0 auto 30px;
    }
    
    .features-area .card-sub-item {
    padding-top: 0 !important;
}
}

@media (max-width: 992px) {
    .mt-s {
        margin-top: 30px !important
    }
}

@media (min-width: 1200px) {
    .outer .right-column {
        margin-right: 33.3%
    }
}

@media only screen and (max-width: 1200px) {
    .what-we-do .outer .inner-circle {
        display: none;
    }

    .what-we-do .outer .service-box-three:first-child,
    .what-we-do .outer .service-box-three:last-child,
    .what-we-do .outer .service-box-four:first-child,
    .what-we-do .outer .service-box-four:last-child {
        right: 0px;
        top: 0px;
        left: 0px;
        bottom: 0px;
    }
}

@media only screen and (max-width: 767px) {

    .what-we-do .outer:before,
    .what-we-do .outer:after {
        display: none;
    }

    .what-we-do .outer .service-box-three,
    .what-we-do .outer .service-box-four {
        padding: 0 20px
    }

    .what-we-do .outer .service-box-three:last-child,
    .what-we-do .outer .service-box-four:last-child,
    .what-we-do .outer .service-box-three,
    .what-we-do .outer .service-box-four {
        margin-bottom: 50px;
    }

    .service-box-three .inner-box,
    .service-box-four .inner-box {
        padding-right: 0px;
        padding-left: 0px;
        text-align: center;
    }

    .service-box-three .icon-box,
    .service-box-four .icon-box {
        position: relative;
        display: block;
        right: 0px;
        top: 0px;
        left: 0px;
        bottom: 0px;
        margin: 0 auto 30px;
    }
    .p-services {
    font-size: 12px;
    font-weight: bold;
        margin-top: 18px;
}
}

@media (max-width: 992px) {
    .mt-s {
        margin-top: 30px !important
    }
}

@media (min-height: 1366px),
(min-width: 1024px) {
    .row.clearfix {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

img.phone {
    width: 144px;
    height: 434px;
}

.what-we-do .outer .phone {
    width: auto;
}


/*----------------------------------------*/


/*  05. Features Area
/*----------------------------------------*/

.features-area {
    position: relative;
    z-index: 1;
}

.features-area .shape {
    top: 50%;
    z-index: -2;
    width: 60%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.features-area.section-padding {
    padding-bottom: 40px;
}

.features-area .card-item::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background: -webkit-gradient(linear-gradient(#e1ad58 0%, #f6ada8 100%));
    background: -webkit-linear-gradient(#e1ad58 0%, #f6ada8 100%);
    background: -o-linear-gradient(#e1ad58 0%, #f6ada8 100%);
    background: linear-gradient(#e1ad58 0%, #f6ada8 100%);
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    z-index: -1;
    -webkit-transition: 0.3s ease-out;
    -o-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
}

.features-area .card-item:hover {
    background: transparent -webkit- linear-gradient(141deg, #0c6967 0%, #599267 100%) 0% 0% no-repeat padding-box;
    background: transparent -o- linear-gradient(141deg, #0c6967 0%, #599267 100%) 0% 0% no-repeat padding-box;
    background: transparent linear-gradient(141deg, #0c6967 0%, #599267 100%) 0% 0% no-repeat padding-box;
    color: #fff;
}

.features-area .card-item:hover i {
    color: #fff;
}

.features-area .card-item:hover::before {
    -webkit-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    transform: rotate(10deg);
}

.features-area .bg-gradient {
    background: transparent -webkit- linear-gradient(141deg, #0c6967 0%, #599267 100%) 0% 0% no-repeat padding-box;
    background: transparent -o- linear-gradient(141deg, #0c6967 0%, #599267 100%) 0% 0% no-repeat padding-box;
    background: transparent linear-gradient(141deg, #0c6967 0%, #599267 100%) 0% 0% no-repeat padding-box;
}

.features-area .bg-gradient .card-section {
    color: #fff;
}

.features-area .card-sub-item {
    padding-top: 120px;
}

.counter-area .single-counter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
}

.counter-area .single-counter .single-content-text h2 {
    color: #141f4e;
    font-weight: 300;
    font-size: 36px;
    margin-bottom: 0px;
}

.counter-area .single-counter .single-content-text > span {
    line-height: 1;
    color: #717584;
    font-size: 18px;
}

.counter-area .single-counter .single-counter-icon i {
    font-size: 36px;
    color: #653dbc;
}

.features-one .shape {
    width: 54%;
    position: absolute;
    left: 0
}

.card-item i {
    font-size: 60px;
}

.card-item .card-icon i {
    position: relative;
    -webkit-transition: 0.3s ease-out;
    -o-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
    color: #1B81D0;
}

.card-item.item-3 {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.card-item.item-3:hover {
    -webkit-box-shadow: 0px 0px 81px rgba(0, 0, 0, 0.08);
    box-shadow: 0px 0px 81px rgba(0, 0, 0, 0.08);
}

.card-item:hover .card-icon i {
    -webkit-animation: toRightFromLeft 0.3s forwards;
    -moz-animation: toRightFromLeft 0.3s forwards;
    animation: toRightFromLeft 0.3s forwards;
}

.card-section {
    padding-top: 25px;
    text-align: center
}
.card-item.mt-30.mb-30 , .card-item.mt-80 , .card-item.mt-30 , .card-item.bg-gradient{
    text-align: center
}
.card-section h3 {
    margin-bottom: 25px;
}
.card-section p{
    max-height: 88px;
    overflow: hidden;
}
.card-section p:hover{
    overflow-y: scroll
}
.card-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-bottom: 30px;
    padding: 30px;
}

.card-flex .card-section {
    padding-top: 0;
    padding-left: 20px;
}

.card-flex .card-section p {
    width: 80%;
    margin-bottom: 0;
}

.card-flex:hover {
    -webkit-box-shadow: 0px 0px 81px rgba(0, 0, 0, 0.08);
    box-shadow: 0px 0px 81px rgba(0, 0, 0, 0.08);
}

.card-flex:hover .card-icon i {
    -webkit-animation: toTopFromBottom 0.3s forwards;
    -moz-animation: toTopFromBottom 0.3s forwards;
    animation: toTopFromBottom 0.3s forwards;
}

.card-area .section-title h2 {
    margin-top: 0;
}

.mt-80 {
    margin-top: 80px;
}

.section-title {
    margin-bottom: 45px;
}

.card-item {
    position: relative;
    background: #fff;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 81px rgba(0, 0, 0, 0.08);
    box-shadow: 0px 0px 81px rgba(0, 0, 0, 0.08);
    padding: 40px 30px;
    -webkit-transition: 0.3s ease-out;
    -o-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
}

.card-item i {
    font-size: 60px;
}

.card-item .card-icon i {
    position: relative;
    -webkit-transition: 0.3s ease-out;
    -o-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
    color: #1B81D0;
}

.card-item.item-3 {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.mt-30 {
    margin-top: 30px;
}

.mb-30 {
    margin-bottom: 30px;
}

.card-sub-item h2 {
    color: #141F4E;
    margin-bottom: 20px;
}
@media only screen and (max-width:767px) {
.mt-80 {
    margin-top: 22px;
    }
}
@media only screen and (max-width:768px) {
.features-area .card-sub-item {
    padding-top: 17px !important;
}
}

/**************footer& download*****************************/

.footer-download {
    position: relative
}

.footer-download:before {
    background-color: #cddfd9;
    border-radius: 750px 0px 0 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 60px;
    /* transform: rotate(186deg); */
    width: 100%;
}


/* =========================================== */


/* ========sec5========== */


/* =========================================== */

#sec5 {
    width: 70%;
    padding: 20px 10px;
    background-color: #0f6c68;
    /* z-index: 999;*/
    position: relative;
    margin: auto;
}

.heade-p {
    font-size:30px;
    font-weight: bold;
    text-align: center;
    color: #0f6c68
}

.white {
    color: #fff;
}

.btn-download-app {
    background: transparent;
    border: 1px solid #fff;
    border-radius: 5px 5px;
    margin: 15px 0 10px 15px;
    padding: 9px 25px 14px 25px;
    display: inline-block;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
}

.btn-download-app p {
    font-family: 'Cabin', sans-serif;
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    color: #fff;
    margin: 0;
    padding: 0;
    display: inline-block;
}

.btn-download-app p small {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    color: #fff;
    margin: 0;
    padding: 0;
    display: inline-block;
}

.btn-download-app span {
    color: #fff;
    font-size: 32px;
    line-height: 32px;
    padding-left: 12px;
    vertical-align: text-bottom;
}

.row1 {
    justify-content: center;
    align-items: center
}

.btn-download-app:hover {
    background: rgba(255, 255, 255, 0.15);
    border: 1px solid #fff;
}


/*********************footer**************************** ****/

.footer {
    text-align: center;
    position: relative;
    margin-bottom: 0;
    margin-top: 34px;
    font-size: 18px;
    font-weight: bold;
    color: #0f6c68;
}

.footer a {
    color: #000;
}

@media only screen and (max-width: 600px) {
    #sec5 {
        width: 90%;
    }

    .footer-download:before {
      
        border-radius: 74px 0px 0 0;
    }
    .heade-p {
    font-size:26px;
   
}
}


/*************************loader *****************************/


/*------------------------------------------*/


/*   PRELOAD SPINNER   
/*------------------------------------------*/

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: #f5f5f5;
}

#loader {
    display: block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.cssload-loader {
    display: block;
    margin: 0 auto;
    width: 60px;
    height: 60px;
    position: relative;
    border: 9px solid #0c6967;
    animation: cssload-loader 2.3s infinite ease;
    -o-animation: cssload-loader 2.3s infinite ease;
    -ms-animation: cssload-loader 2.3s infinite ease;
    -webkit-animation: cssload-loader 2.3s infinite ease;
    -moz-animation: cssload-loader 2.3s infinite ease;
}

.cssload-loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #0c6967;
    animation: cssload-loader-inner 2.3s infinite ease-in;
    -o-animation: cssload-loader-inner 2.3s infinite ease-in;
    -ms-animation: cssload-loader-inner 2.3s infinite ease-in;
    -webkit-animation: cssload-loader-inner 2.3s infinite ease-in;
    -moz-animation: cssload-loader-inner 2.3s infinite ease-in;
}

@keyframes cssload-loader {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(180deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes cssload-loader-inner {
    0% {
        height: 0%;
    }

    25% {
        height: 0%;
    }

    50% {
        height: 100%;
    }

    75% {
        height: 100%;
    }

    100% {
        height: 0%;
    }
}


/*****************************************************************/


/*************************top button*************************/

#scrollUp {
    left: 30px;
    bottom: 30px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    cursor: pointer;
    background: linear-gradient(45deg, #0c6967 1%, #3e2263 99%);
    text-align: center;
    color: #0f6c68;
    border-radius: 100%;
    position: fixed;
    z-index: 10;
    display: none;
    cursor: pointer;
}

#scrollUp::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    border-radius: 50%;
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    z-index: -1;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

#scrollUp:hover {
    color: #ffffff;
}

#scrollUp:hover:before {
    -webkit-transform: scale(0);
    transform: scale(0);
}


/********************************************** slider **********************************/


/*************  Responsive **********************/
